.tagsContaine .tagList,.tagsContaine .tagInput{
	/*float: left;*/
}

.tagsContaine .tagList .tagItem{
	height: 20px;
	/*line-height: 30px;*/
	background-color:#d5d5d5;
	padding: 5px 10px;
	text-align: center;
	float: left;
	margin: 5px;
	border-radius: 10px;
	color:#0C0C0C;
	font-size: 13px;
	letter-spacing: 2px;
	cursor: pointer;
	width: 48%;
}
.tagsContaine .tagList .tagItem:hover{
	background-color: #0099FF;
}
.tagsContaine .tagList .tagItem .delete{
	float: right;
	width: 15px;
	height: 15px;
	background-image: url(../images/x.png);
	background-repeat: round;
	margin-top: -10px;
	margin-right: -10px;
	display: none;
}
.tagsContaine .tagList .tagItem:hover .delete{
	display: block;
}

.tagsContaine .tagList .updateInput{
	outline: none;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	border: solid thin #AAAAAA;
	border-radius: 5px;
	margin: 5px;
	padding: 0px 5px;
	text-align: center;
	float: left;
		
}
.tagsContaine .tagInput{
	outline: none;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	border: solid thin #AAAAAA;
	border-radius: 5px;
	margin: 5px;
	padding: 0px 5px;
	text-align: center;
}
.tagsContaine .tagInput:focus{
	border-color: #66CCFF;
}
